html{ background: rgb(54,46,189);
    background: linear-gradient(90deg, rgba(54,46,189,1) 0%, rgba(3,70,78,1) 0%, rgba(0,212,255,1) 32%, rgba(0,207,249,1) 40%, rgba(0,247,232,1) 48%, rgba(3,70,78,1) 99%);
}

body{
    margin: 0;
    padding:  0;
    font-family: Helvetica;
}